///////////////////////////////////////////////////////////////////////////////////////////////
//App
.app {
  display: flex ;
}

///////////////////////////////////////////////////////////////////////////////////////////////
//Header
.header {
  color: #ffffff;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  //align-content: center;
  //position: absolute;
  //top: 0;
  width: 100%;
  z-index: 3;
}

//*{
//  margin:0;
//  padding:0;
//  font-family: 'Roboto', sans-serif;
//  background:#1d1e22;
//  color:#fff;
//  z-index:0;
//}

.timeline{
  width:100%;
  //background-color:#072736;
  color: rgba(6, 214, 160, 1);
  padding:30px 20px;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.timeline ul{
  list-style-type:none;
  border-left:2px solid rgba(6, 214, 160, 1);
  padding:10px 5px;
}
.timeline ul li{
  padding:20px 20px;
  position:relative;
  cursor:pointer;
  transition:.5s;
}
.timeline ul li span{
  display:inline-block;
  background-color:#1685b8;
  border-radius:25px;
  padding:2px 5px;
  font-size:15px;
  text-align:center;
}
.timeline ul li .content h3{
  color:#34ace0;
  font-size:17px;
  padding-top:5px;
}
.timeline ul li .content p{
  padding:5px 0px 15px 0px;
  font-size:15px;
  color: #1685b8;
}
.timeline ul li:before{
  position:absolute;
  content:'';
  width:10px;
  height:10px;
  background-color:#34ace0;
  border-radius:50%;
  left:-11px;
  top:28px;
  transition:.5s;
}
.timeline ul li:hover{
  //background-color:#071f2a;
}
.timeline ul li:hover:before{
  background-color:#0F0;
  box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
  .timeline{
    width:100%;
    padding:30px 5px 30px 10px;
  }
  .timeline ul li .content h3{
    color:#34ace0;
    font-size:15px;
  }

}

///////////////////////////////////////////////////////////////////////////////////////////////
//Nav-Bar
.nav-bar {
  list-style-type: none;
  position: fixed;
  z-index: 100;
}

.nav-bar:hover {
  color: white;
}

///////////////////////////////////////////////////////////////////////////////////////////////
//Overview
.skills-section {
  margin: 5vh 5vw 0 5vw;
  max-width: 100vw;

  display: flex;
  justify-content: space-evenly;
}

///////////////////////////////////////////////////////////////////////////////////////////////
//About Me
.about-me {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 600;
  //text-align: center;
  margin-top: 25rem;
  border-radius: 500px;
  //border: #F60C5B solid 1px;
  //background-color: #F60C5B;
  //text-shadow:
  //        0 0 7px #fff,
  //        0 0 10px #fff,
  //        0 0 21px #fff;
  //height: 25rem;
  margin-bottom: 18rem;

  display: flex;
  //justify-content: space-evenly;

  animation: fadeIn 2s ease-out;
}


///////////////////////////////////////////////////////////////////////////////////////////////
//Quote

.quote {
  font-size: 1.6rem;
  background: rgba(255, 255, 255, .065);
  border-radius: 15px;
  max-height: 10rem;
  max-width: 10rem;
  text-align: start;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  animation: moveInLeft 2s ease-out;
}

.projects {
  color: white;
  text-align: center;
  min-height: 50rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-section {
  background-color: white;
  min-width: 80rem;
}

.footer {
  //display: flex;
  //justify-content: space-between;
  position: relative;
  color: var(--old-lavender);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  /*Causes the go too far part of animation*/
  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lowerOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% { border-color: orange}
}

/* unvisited link */
a:link {
  color: #FFF;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #FFF;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #FF00F0;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #000;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h1 {
  display: block;
  font-size: 3em;
  margin: 0.6em 0;
  font-weight: bold;
}

.glitch {
  position: relative;
  margin: 0 auto;
  background: #000;
  border-radius: 25px;
  font-size: 2.5em;

  color: #009FFD;
}

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 25px;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 4px;
  text-shadow: -1px 0 #ffa800;
  background: #000;
}

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: -4px;
  text-shadow: 1px 0 rgba(6, 214, 160, 0.5);
  background: #000;
}

@mixin rect($top, $bottom) {
  clip: rect($top, 9999px, $bottom, 0);
}

/* Expanded Animations */
@keyframes glitch-animation {
  0% { @include rect(42px, 44px); }
  5% { @include rect(12px, 59px); }
  10% { @include rect(48px, 29px); }
  15.0% { @include rect(42px, 73px); }
  20% { @include rect(63px, 27px); }
  25% { @include rect(34px, 55px); }
  30.0% { @include rect(86px, 73px); }
  35% { @include rect(20px, 20px); }
  40% { @include rect(26px, 60px); }
  45% { @include rect(25px, 66px); }
  50% { @include rect(57px, 98px); }
  55.0% { @include rect(5px, 46px); }
  60.0% { @include rect(82px, 31px); }
  65% { @include rect(54px, 27px); }
  70% { @include rect(28px, 99px); }
  75% { @include rect(45px, 69px); }
  80% { @include rect(23px, 85px); }
  85.0% { @include rect(54px, 84px); }
  90% { @include rect(45px, 47px); }
  95% { @include rect(37px, 20px); }
  100% { @include rect(4px, 91px); }
}

@keyframes glitch-animation-2 {
  0% { @include rect(65px, 100px); }
  5% { @include rect(52px, 74px); }
  10% { @include rect(79px, 85px); }
  15.0% { @include rect(75px, 5px); }
  20% { @include rect(67px, 61px); }
  25% { @include rect(14px, 79px); }
  30.0% { @include rect(1px, 66px); }
  35% { @include rect(86px, 30px); }
  40% { @include rect(23px, 98px); }
  45% { @include rect(85px, 72px); }
  50% { @include rect(71px, 75px); }
  55.0% { @include rect(2px, 48px); }
  60.0% { @include rect(30px, 16px); }
  65% { @include rect(59px, 50px); }
  70% { @include rect(41px, 62px); }
  75% { @include rect(2px, 82px); }
  80% { @include rect(47px, 73px); }
  85.0% { @include rect(3px, 27px); }
  90% { @include rect(26px, 55px); }
  95% { @include rect(42px, 97px); }
  100% { @include rect(38px, 49px); }
}